<chanters-login>
    <template>
        <link rel="stylesheet" type="text/css" href="../stylesheets/login.css">
        <div class="container-fluid child-container">
            <div class="login-wrap border light-div box-shadow-inset">
                <div class="dark-div btm-border">
                    <a href="/default">
                    <button class="form-text btn-login txt-shadow">
                    Login
                    </button>
                    </a>
                </div>
                <div class="form-wrap btm-border">
                    <input type="text" autofocus class="form-text email txt-shadow" placeholder="Email address">
                </div>
                <div class="form-wrap">
                    <input type="text" placeholder="Password" class="form-text password txt-shadow">
                </div>
            </div>
        </div>
    </template>
    <script>
    console.log("login.html")
    Chanters("chanters-login", {});
    </script>
</chanters-login>
