<chanters-login>
    <template>
        <link rel="stylesheet" type="text/css" href="../stylesheets/login.css">
        <div class="container-fluid child-container">
            <div class="login-wrap border light-div box-shadow-inset">
                <div class="dark-div btm-border">
                    <button class="form-text btn-login txt-shadow" on-click="{{goToPlayer}}" style="pointer:cursor">
                        Login
                    </button>
                </div>
                <div class="form-wrap btm-border">
                    <input type="text" autofocus class="form-text email txt-shadow" placeholder="Email address">
                </div>
                <div class="form-wrap">
                    <input type="text" placeholder="Password" class="form-text password txt-shadow">
                </div>
            </div>
        </div>
    </template>
    <script>
    Chanters("chanters-login", {
        domReady: function() {
            if (localStorage && localStorage.chantersId)
                console.log("localStorage.chantersId", localStorage.chantersId);
            else {
                localStorage.chantersId = Math.random();
            }

            window.onbeforeunload = function() {
                console.log("one");
            }
        },
        goToPlayer: function() {
            debugger;
            location.pathname = "/player";
        }
    });
    </script>
</chanters-login>
