<!DOCTYPE html>
<html>

<head>
    <title>Chanters Login - Welcome to Chanters</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/chanters.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/logo.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/media.css">
    <script src="scripts/chanters.js"></script>
    <script src="scripts/player.js" defer></script>
</head>

<body>
    <div class="wrapper-fluid">
        <chanters-header>
            <template>
                <div id="header" class="header btm-border dark-div fixed-top">
                    <div id="logo" class="border">
                        <div id="bar1"></div>
                        <div id="bar2"></div>
                        <div id="bar3"></div>
                        <div id="bar4"></div>
                    </div>
                    <span id="currentTime" style="position:absolute;left:17%;padding: 12px 14px;display:none">00::00</span>
                    <span id="totalTime" style="position:absolute;left:23%;padding: 12px 14px;display:none">00::00</span>
                    <div class="logout">
                        <button class="txt-shadow btn-menu" on-click="{{changeImage}}">Change Image</button>
                        <!-- <button class="txt-shadow btn-menu">Log In</button> -->
                    </div>
                    <input type="range" id="seek" min="0" max="100" value="0" style="width:85%;margin-top: 38px;display:none">
                </div>
                <style>
                #currentTime,
                #totalTime {
                    text-shadow: 0px 1px 0px #D41919, 1px 5px 0px rgba(0, 0, 0, 0.25);
                }
                
                #seek {
                    display: block;
                    position: absolute;
                    top: 0;
                    margin: 0;
                    left: 15%;
                    bottom: 0px;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
                }
                
                #seek::-webkit-slider-thumb:hover {
                    margin-top: -3.6px;
                    height: 20px;
                    width: 20px;
                }
                </style>
            </template>
            <script>
            Chanters("chanters-header", {
                changeImage: function(event) {
                    var fileSelector = document.createElement('input');
                    fileSelector.setAttribute('type', 'file');
                    fileSelector.setAttribute('accept', "image/*");
                    fileSelector.click();
                    fileSelector.onchange = function() {
                        var _URL = window.URL || window.webkitURL;
                        document.querySelector(".wall-img").src = _URL.createObjectURL(fileSelector.files[0]);
                    }
                }
            });
            </script>
        </chanters-header>
        <chanters-background attributes="src:images/vidyut-jamwal-7a.jpg">
            <template>
                <div class="wrapper-fixed wall fixed-top" style="z-index:-1">
                    <img class="wall-img" src="{{src}}" />
                </div>
            </template>
            <script>
            Chanters("chanters-background", {});
            </script>
        </chanters-background>
        <chanters-view attributes="template:/demoPlayer">
            <template>
            </template>
            <script>
            Chanters("chanters-view", {
                domReady: function() {
                    this.loadTemplate(function(error, userRequestedFile) {
                        this.insertToDom(userRequestedFile);
                    }.bind(this));
                },
                loadTemplate: function(cb) {
                    var templateUrl = this.template;
                    var xmlhttp;
                    if (templateUrl.length == 0) {
                        // document.getElementById("txtHint").innerHTML = "";
                        // return;
                    }
                    if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
                        xmlhttp = new XMLHttpRequest();
                    } else { // code for IE6, IE5
                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    xmlhttp.onreadystatechange = function() {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            cb(null, xmlhttp.responseText)
                        }
                    }
                    xmlhttp.open("GET", templateUrl, true);
                    xmlhttp.send();
                },
                insertToDom: function(html) {
                    var domParser = document.createElement("div");
                    domParser.innerHTML = html;

                    var userTag = domParser.children[0];
                    var tagToInsert = document.createElement(userTag.tagName);
                    tagToInsert.appendChild(userTag.querySelector("template"));

                    var script = document.createElement("script");
                    script.text = userTag.querySelector("script").text;

                    tagToInsert.appendChild(script);

                    this.innerHTML = "";
                    this.appendChild(tagToInsert);
                },
                template_: function() {
                    this.domReady();
                }
            });
            </script>
        </chanters-view>
        <chanters-fotter>
            <template>
                <!-- <div class="fixed-bottom footer top-border dark-div box-shadow">
                    <button class="border box-shadow dark-div singin txt-shadow">Sing up</button>
                    <span class="border box-shadow dark-div txt-shadow logo">Chanters</span>
                </div> -->
            </template>
            <script>
            Chanters("chanters-fotter", {});
            </script>
        </chanters-fotter>
    </div>
</body>

</html>
