<!DOCTYPE html>
<html>

<head>
    <title>Chanters Login - Welcome to Chanters</title>
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/chanters.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/logo.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/media.css"> -->
    <!-- // <script src="../scripts/chanters.js"></script> -->
    <script src="../scripts/production.js"></script>
</head>

<body>
    <chanters-header>
        <template>
            <div id="header" class="header btm-border dark-div fixed-top">
                <div id="logo" class="border">
                    <template repeat="bar in bars">
                        <div on-click="{{developer}}" id="{{bar}}">{{bar}}</div>
                    </template>
                    <template repeat="student in students">
                        <div on-click="{{developer}}" id="{{student.name}}">{{student.name}}</div>
                    </template>
                </div>
                <div class="middle">
                    {{search}} {{here}} ....
                    <input type="text" on-focus="{{developer}}" value="{{query}}">
                </div>
                <div class="logout">
                    <!-- <button class="txt-shadow btn-menu" on-click="{{developer}}"><span on-mouseover="{{hightlight}}">Chanter </span>Developers</button> -->
                    <input type="text" value="{{here}}">
                    <button class="txt-shadow btn-menu" on-mouseover="{{hightlight}}" on-click="{{logIn}}">Log In</button>
                </div>
            </div>
        </template>
        <script>
        Chanters("chanters-header", {
            bars: ["bar1", "bar2", "bar3", "bar4"],
            developer: function(event) {
                console.log("developer", event);
            },
            logIn: function(event) {
                // this.query = "adhikari";
                this.here = "himanshu";
                // console.log("logIn", this, event);
            },
            hightlight: function(event) {
                // console.log("hightlight", event);
            },
            query: 'himanshu',
            search: "Type to Search",
            here: "here",
            students: [{
                name: "himanshu",
                age: 30
            }, {
                name: "vivek",
                age: 28
            }]
        });
        </script>
    </chanters-header>
</body>

</html>
