<!DOCTYPE html>
<html>

<head>
    <title>Chanters Login - Welcome to Chanters</title>
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/chanters.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/logo.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/media.css"> -->
    <script src="../scripts/production.js"></script>
</head>

<body>
    <!--  <h1>Hi from Chanters.js</h1>
    <chanters-header>
        <template>
            <div id="header" class="header btm-border dark-div fixed-top">
                <div id="logo" class="border">
                    <div id="bar1"></div>
                    <div id="bar2"></div>
                    <div id="bar3"></div>
                    <div id="bar4"></div>
                </div>
                <div class="logout">
                    <button class="txt-shadow btn-menu">Developers</button>
                    <button class="txt-shadow btn-menu">Log In</button>
                </div>
            </div>
        </template>
        <script>
        // Chanters("chanters-header", {});
        </script>
    </chanters-header> -->
    <button onclick="getCurTime()" type="button">Get current time position</button>
    <button onclick="setCurTime()" type="button">Set time position to 5 seconds</button>
    <br>
    <audio id="myVideo" width="320" height="176" controls>
        <source src="/home/himanshu/Videos/01._Alfaaz_ft_Honey_Singh_-_Haye_Mera_Dil_-_www.djsbuzz.blogspot.Com.mp3" type="video/mp4">
        browser
    </audio>
    <script>
    var vid = document.getElementById("myVideo");

    function getCurTime() {
        alert(vid.currentTime);
    }

    function setCurTime() {
        vid.currentTime = 50;
    }
    </script>
</body>

</html>
